if status is-interactive
    # Commands to run in interactive sessions can go here
end

{{ if eq .chezmoi.os "linux" -}}
    # put homebrew on path 
    eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
{{ end }}

{{ if eq .chezmoi.os "darwin" -}}
    eval (/opt/homebrew/bin/brew shellenv)

    # autojump
    [ -f /opt/homebrew/share/autojump/autojump.fish ]; and source /opt/homebrew/share/autojump/autojump.fish
{{ else if eq .chezmoi.os "linux" -}}
    eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)

    [ -f /home/linuxbrew/.linuxbrew/share/autojump/autojump.fish ]; and source /home/linuxbrew/.linuxbrew/share/autojump/autojump.fish
{{ end }}

# aliases
alias vim="nvim"
alias vims="vim -S Session.vim"
alias ls="ls -laG"
alias cat="bat"
alias dev="cd ~/Documents/projects"
{{ if eq .chezmoi.os "linux" -}}
    alias obsidian="flatpak run md.obsidian.Obsidian"
    alias spotify="flatpak run com.spotify.Client" 
    alias firefox="flathub run org.mozilla.Firefox"
    alias signal="flathub run org.signal.Signal"
{{ end }}

# vim keybinds
fish_hybrid_key_bindings

set -g HOMEBREW_NO_AUTO_UPDATE 1

starship init fish | source
