/*******************************************************************************
 * ROFI SQUARED THEME USING THE MATERIAL DARKER PALETTE 
 * User                 : LR-Tech               
 * Theme Repo           : https://github.com/lr-tech/rofi-themes-collection

 * See https://github.com/davatorium/rofi/blob/next/doc/rofi-theme.5.markdown
 *******************************************************************************/

* {
    font:   "FiraCode Nerd Font Medium 12";

    background-color:   transparent;
    text-color:        {{ .colors.fujiWhite }};

    margin:     0;
    padding:    0;
    spacing:    0;
}

window {
    location:   south;
    width:      480;

    background-color:   {{ .colors.sumiInk0 }};
}

inputbar {
    spacing:    8px; 
    padding:    8px;

    background-color:   {{ .colors.sumiInk4 }};
}

prompt, entry, element-icon, element-text {
    vertical-align: 0.5;
}

prompt {
    text-color: {{ .colors.springGreen }};
}

entry {
    text-color: {{ .colors.fujiWhite }};
}

textbox {
    padding:            8px;
    background-color:   {{ .colors.sumiInk1 }};
}

listview {
    padding:    4px 0;
    lines:      8;
    columns:    1;

    fixed-height:   false;
}

element {
    padding:    8px;
    spacing:    8px;
}

element normal normal {
    text-color: {{ .colors.sumiInk0 }};
}

element normal urgent {
    text-color: {{ .colors.roninYellow }};
}

element normal active {
    background-color: {{ .colors.autumnGreen }};
    text-color: {{ .colors.fujiWhite }};
}

element selected {
    text-color: {{ .colors.sumiInk0 }};
}

element selected normal, element selected active {
    background-color:   {{ .colors.springGreen }};
}

element selected urgent {
    background-color:   {{ .colors.roninYellow }};
}

element-icon {
    size:   0.8em;
}

element-text {
    text-color: inherit;
}
