#! /bin/sh

# TODO - implement auto-install with https://www.chezmoi.io/user-guide/use-scripts-to-perform-actions/#run-a-script-when-the-contents-of-another-file-changes
install_brew () {
        echo "Homebrew not found, installing..."
        /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

        {{ if eq .chezmoi.os "linux" -}}
                sudo apt install build-essential curl git file procps  -y
                export HOMEBREW_DIR="/home/linuxbrew/.linuxbrew/bin/brew"

                # add to bash for initial install
                echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"' >> {{ .chezmoi.homeDir }}/.profile

                # add to fish config so it's on fish's path
                # echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"' >> {{ .chezmoi.homeDir }}/.config/fish/config.fish
                eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
        {{ else if eq .chezmoi.os "darwin" -}}
                export HOMEBREW_DIR="/home/linuxbrew/.linuxbrew/bin/brew"
        {{ end -}}

        brew install gcc
}

# install packages
command -v brew > /dev/null && continue || install_brew

brew bundle --file=.config/brew/Brewfile

# linux equivalent of homebrew casks
{{ if eq .chezmoi.os "linux" -}}
        command -v snap > /dev/null && continue || sudo apt install snapd

        sudo snap install 1password 
        sudo snap install docker 
        sudo snap install signal-desktop 
        sudo snap install spotify
{{ end -}}

# set fish as default shell
echo $(which fish) | sudo tee -a /etc/shells
chsh -s $(which fish) 

# install fisher packages - reload shell to load fisher
exec sudo --login --user {{ .chezmoi.username }}
curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | /bin/bash -c 'source && fisher install jorgebucaran/fisher'
fisher update
