[colors]
autumnYellow = {{ .colors.autumnYellow }}
samuraiRed = {{ .colors.samuraiRed }}
springGreen = {{ .colors.springGreen }}
sumiInk3 = {{ .colors.sumiInk3 }}
roninYellow = {{ .colors.roninYellow }}
