[colors]
; standard background color for rounded corners to use
background = {{ .colors.sumiInk4 }}

autumnYellow = {{ .colors.autumnYellow }}
autumnGreen = {{ .colors.autumnGreen }}
fujiWhite = {{ .colors.fujiWhite }}
samuraiRed = {{ .colors.samuraiRed }}
springGreen = {{ .colors.springGreen }}
sumiInk2 = {{ .colors.sumiInk2 }}
sumiInk3 = {{ .colors.sumiInk3 }}
sumiInk4 = {{ .colors.sumiInk4 }}
roninYellow = {{ .colors.roninYellow }}
transparent = #00000000
