local set_vim_option = require "utils".set_vim_option

vim.api.nvim_create_autocmd('BufReadPost', {
  desc = 'Open file at the last position it was edited earlier',
  group = misc_augroup,
  pattern = '*',
  command = 'silent! normal! g`"zv'
})

-- See https://www.reddit.com/r/neovim/comments/zmvk7j/wrap_lines_without_altering_the_file/
vim.api.nvim_create_autocmd('FileType', {
  desc = 'Visually break lines in Markdown files without actually adding newlines',
  pattern = 'markdown',
  callback = function()
    -- `number` already set in options.lua
    vim.opt_local.wrap = true
    vim.opt_local.textwidth = 0
    vim.opt_local.wrapmargin = 0
    vim.opt_local.linebreak = true

    vim.opt_local.tabstop = 8
    vim.opt_local.shiftwidth = 8
    vim.opt_local.breakindent = true
  end
})

vim.api.nvim_create_autocmd({ 'BufLeave', 'FocusLost' }, {
  desc = "Auto-save all buffers when changing tmux panes",
  pattern = '*',
  command = 'silent! wall'
})

vim.api.nvim_create_autocmd('BufWritePost', {
  desc = 'Automatically run `chezmoi apply` when saving files in the chezmoi source directory',
  pattern = '{{ .chezmoi.sourceDir }}/**/*',
  command = '!chezmoi apply'
})
