[core]
    editor = nvim    

[init]
    defaultBranch = main

[user]
    name = Evan Rittenhouse
    email = evanrittenhouse@gmail.com

[pull]
    # default pull strategy is rebase rather than merge
    rebase = true

[fetch]
    # run git remote prune on every fetch
    prune = true

[diff]
    # add a new color in a diff file if lines have simply moved 
    colorMoved = zebra
