#! /bin/sh

CMD=""

# TODO - scripts to install various languages
# python by default should be good, but we also might want java/dart
install_brew () {
        echo "Homebrew not found, installing..."
        /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

        {{ if eq .chezmoi.os "linux" -}}
                sudo apt install build-essential curl git file procps  -y

                # add to bash for initial install
                echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"' >> {{ .chezmoi.homeDir }}/.config/fish/config.fish

                # add to fish config so it's on fish's path
                eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
        {{ else if eq .chezmoi.os "darwin" -}}
                # add to bash for initial install
                echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >> {{ .chezmoi.homeDir }}/.config/fish/config.fish

                # add to fish config so it's on fish's path
                eval "$(/opt/homebrew/bin/brew shellenv)"
        {{ end -}}

        brew install gcc
}

detect_package_manager() {
        UNAME=$(uname)

        if [[ "$UNAME" == "Linux" ]]; then
                ARCH=$(uname -m)

                if [[ "$ARCH" == "aarch64" ]]; then
                        # Homebrew isn't supported on ARM64 Linux
                        CMD="sudo apt install --ignore-missing"
                else
                        CMD="brew"
                fi
        elif [[ "UNAME" == "Darwin" ]]; then
                CMD="brew"
        fi

        echo "package manager determined: $CMD"
}

echo "running package install script..."

if [[ "$CMD" == "brew" ]]; then
        echo "installing brew..."
        command -v brew > /dev/null && continue || install_brew
fi

PACKAGE_FILE="{{ .chezmoi.homeDir }}/.config/packages/packages.txt"
PACKAGES=$(cat $PACKAGE_FILE | tr '\n' ' ')

determine_package_manager

echo "installing packages..."
echo "install command: $CMD $PACKAGES"
eval "$CMD $PACKAGES"

{{ if eq .chezmoi.os "darwin" -}}
echo "installing casks..."
brew bundle --file={{ .chezmoi.homeDir }}/.config/packages/casks
{{ end }}

{{ if eq (index . "rust") true -}}
        if [[ "$CMD" == "brew" ]]; then
                sudo apt install curl -y
        fi

        curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
        rustup component add rust-analyzer
{{ end }}

{{ if eq (index . "python") true -}}
        $CMD poetry pyright python pyenv
{{ end }}

# linux equivalent of homebrew casks
{{ if eq .chezmoi.os "linux" -}}

# Install Hack Nerd Font separately for Linux, required with headless since we want neovim to work properly
mkdir -p ~/Downloads && cd Downloads
curl -OL https://github.com/ryanoasis/nerd-fonts/releases/latest/download/Hack.tar.xz
mkdir -p {{ .chezmoi.homeDir }}/.local/share/fonts && tar -xf Hack.tar.xz -C {{ .chezmoi.homeDir }}/.local/share/fonts
 
{{ if ne (index . "headless") true -}}
# Full Linux desktop environment dependencies
sudo apt install alacritty i3 rofi brightnessctl flatpak picom polybar rofi feh redshift xss-lock
# for screenshots
sudo apt install xfce4-screenshooter

flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
flatpak install flathub md.obsidian.Obsidian

# TODO: does the spotify flatpak client work?
curl -sS https://download.spotify.com/debian/pubkey_6224F9941A8AA6D1.gpg | sudo gpg --dearmor --yes -o /etc/apt/trusted.gpg.d/spotify.gpg
echo "deb http://repository.spotify.com stable non-free" | sudo tee /etc/apt/sources.list.d/spotify.list
sudo apt-get update && sudo apt-get install spotify-client

{{ if eq .email "evanrittenhouse@gmail.com" -}}
flatpak install flathub org.mozilla.firefox 
flatpak install flathub org.signal.Signal
{{ end -}}
# Headless dependencies
{{ end -}}

# Parent Linux block
{{ end -}}

# set fish as default shell
echo $(which fish) | sudo tee -a /etc/shells
chsh -s $(which fish) 

# reload shell to launch fish
exec sudo --login --user {{ .chezmoi.username }}
