#! /bin/sh

# TODO - implement auto-install with https://www.chezmoi.io/user-guide/use-scripts-to-perform-actions/#run-a-script-when-the-contents-of-another-file-changes
install_brew () {
        echo "Homebrew not found, installing..."
        /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

        {{ if eq .chezmoi.os "linux" -}}
                sudo apt install build-essential curl git file procps  -y

                # add to bash for initial install
                echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"' >> {{ .chezmoi.homeDir }}/.profile

                # add to fish config so it's on fish's path
                eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
        {{ else if eq .chezmoi.os "darwin" -}}
                # add to bash for initial install
                echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >> {{ .chezmoi.homeDir }}/.profile

                # add to fish config so it's on fish's path
                eval "$(/opt/homebrew/bin/brew shellenv)"
        {{ end -}}

        brew install gcc
}

# install packages
command -v brew > /dev/null && continue || install_brew

brew bundle --file=.config/brew/Brewfile

# linux equivalent of homebrew casks
{{ if eq .chezmoi.os "linux" -}}
        command -v snap > /dev/null && continue || sudo apt install snapd

        sudo snap install 1password 
        sudo snap install signal-desktop 
        sudo snap install spotify

        # dependencies for i3
        sudo apt install i3 light rofi
{{ end -}}

# set fish as default shell
echo $(which fish) | sudo tee -a /etc/shells
chsh -s $(which fish) 

#  reload shell to launch fish
exec sudo --login --user {{ .chezmoi.username }}
