brew 'autojump'
brew 'bat'
brew 'gopls'
brew 'fish'
brew 'lua-language-server'
brew 'neovim'
{{ if eq (index . "python") true -}}
brew 'poetry'
brew 'pyright'
brew 'python'
brew 'pyenv'
{{ end }}
brew 'ripgrep'
{{ if eq (index . "rust") true -}}
brew 'rust-analyzer'
{{ end }}
brew 'starship'
brew 'tig'
brew 'tree-sitter'
brew 'tmux'
{{ if eq .chezmoi.os "darwin" -}}
tap 'homebrew/cask'
tap 'homebrew/cask-versions'
tap 'homebrew/cask-fonts'

cask 'dash'
cask 'docker'
cask 'flux'
cask 'iterm2'
cask 'obsidian'
cask 'rectangle'
cask 'signal'
cask 'spotify'
cask 'utm'

{{ if eq .email "evanrittenhouse@gmail.com" -}}
cask 'discord'
cask 'firefox'
{{ end -}}

# TODO - figure out a way to avoid hard-coding font
cask 'font-fira-code-nerd-font'
{{end -}}
