#!/opt/homebrew/bin/fish

function replace_dirs --argument-names filename --description 'Replace paths with chezmoi equivalents'
        set -l work_dir "{{ .chezmoi.homeDir }}"
        # Ensure we escape slashes in file path
        set -l normalized_dir $(string replace -a "/" "\/" $work_dir)

        # Replace the "Working Directory" field with {{ .chezmoi.homeDir }}
        # We exit the quotes to allow string interpolation to work properly
        set -l work_dir 's/\("Working Directory" : \)[a-zA-Z0-9\/"]*/\1 "'$normalized_dir'"/g'

        set -l username "{{ .chezmoi.username}}"
        # Replace the "Name" (profile name) field with "{{ .chezmoi.username }} (chezmoi)"
        set -l name 's/\("Name" : \)[a-zA-Z0-9\/"() ]*/\1 "'$username' (chezmoi)"/g'

        set -l filename $argv[1]
        sed -i "" $work_dir $filename
        sed -i "" $name $filename
end

replace_dirs $argv
